@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth;
  user-select: none; }

body {
  font-family: 'Ubuntu', sans-serif;
  background-image: linear-gradient(to bottom right, #fefefe, #eee5fa); }

/* ========================== HEADER y NAV ========================== */
.cabecera {
  display: flex;
  flex-flow: column;
  justify-content: center; }

.status {
  display: none; }

.burguer-menu {
  display: none; }

.logo {
  display: flex;
  justify-content: center;
  padding-top: 20px; }

.logo-header {
  display: flex;
  justify-content: center;
  padding: 20px; }

.logo-header-white {
  display: none; }

hr {
  border: 1px solid #222222;
  width: 528px;
  border-radius: 10px;
  margin: auto; }

*
.nav-bar {
  display: flex;
  justify-content: space-evenly;
  padding: 27px; }
  *
.nav-bar ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none; }
    *
.nav-bar ul li {
      margin-left: 50px;
      margin-right: 50px;
      font-size: 1.5rem;
      font-weight: bold;
      cursor: pointer; }
      *
.nav-bar ul li a {
        text-decoration: none;
        color: #222222; }
        *
.nav-bar ul li a:hover {
          color: #BC002D;
          transition: .3s; }

/* ========================== CONT. PRINCIPAL ========================== */
.splash-main {
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "texto contenedorImg" "section section"; }

/* //////////////////////////////////////// caja de texto */
.texto {
  margin-left: 88px;
  margin-top: 268px;
  grid-area: texto;
  margin-right: 88px; }
  .texto h1 {
    font-weight: bold;
    font-size: 48px;
    padding: 10px;
    color: #222222; }

h2 {
  display: flex;
  justify-content: center;
  font-weight: semibold;
  font-size: 36px;
  padding: 10px;
  color: #222222; }

.parrafo {
  font-weight: regular;
  font-size: 24px;
  margin-left: 10px;
  line-height: 33px;
  color: #222222; }

/* ////////////////////////////////////// caja de imagenes */
.contenedorImg {
  display: flex;
  justify-content: flex-end;
  padding-top: 60px;
  grid-area: contenedorImg;
  padding-bottom: 20px; }

.imgRopa {
  position: absolute;
  top: 200px;
  right: 0; }

.ropa-img {
  width: 700px;
  height: inherit;
  position: absolute;
  right: 240px;
  z-index: 100; }

.icono_k {
  display: flex;
  flex-flow: column;
  align-items: center;
  z-index: 200;
  position: absolute;
  top: 500px;
  cursor: pointer; }

.circulo {
  width: 1000px;
  height: 1000px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #BC002D;
  position: relative;
  top: -290;
  right: 0;
  left: 150px;
  animation: animaImg ease-in 1s infinite alternate; }

@keyframes animaImg {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.02); } }

/* ========================== SECTIONS ========================== */
.section-1 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center; }

.section-2 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #222222; }

#mujer {
  background-color: #222222;
  color: #fefefe;
  padding-top: 50px; }

#catalogo {
  margin-top: 50px; }

#hombre {
  padding-top: 50px; }

/* ////////////////////////////////////// cards */
.container {
  width: 100%;
  max-width: 1200px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.container .card {
  width: 330px;
  height: 460px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  background-color: #fefefe;
  text-align: center;
  transition: all 0.25s; }

.container .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  transition: all ease 0.3s; }

.container .card img {
  width: 230px;
  height: auto; }

.container .card h3 {
  font-weight: 600;
  font-size: 1.5rem; }

.container .card h3 {
  font-weight: 600;
  font-size: 1.8rem; }

.container .card p {
  font-size: 1.2rem;
  margin-bottom: 10px; }

.card-btn {
  /* font-weight: 300; */
  text-decoration: none;
  border-radius: 50px;
  background-color: #BC002D;
  font-size: 15px;
  /* border: solid 1px; */
  height: 50px;
  font-size: 1.4rem;
  color: #fefefe;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2rem;
  /* text-align: center; */
  line-height: 25px; }

.card-btn:hover {
  color: #BC002D;
  background-color: #fefefe; }

.card-parrafo {
  padding: 8px; }

/* ========================== CATÁLOGO ========================== */
.section-3 {
  min-height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-content: center; }

.catalogo-btn {
  display: none; }

.circulo-bg {
  width: 1000px;
  height: 1000px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgba(188, 0, 45, 0.1);
  position: absolute;
  width: 846.97px;
  height: 850.89px;
  background: rgba(188, 0, 45, 0.4);
  top: 3866px;
  right: 50;
  left: 50;
  z-index: -100; }

.contenedor-catalogo {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.contenedor-cards {
  width: 117vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly; }

/* ////////////////////////////////////// search bar */
.search-box {
  margin-top: 44px;
  background: none;
  border-radius: 50px;
  background: #fefefe;
  width: 1000px;
  height: 63px;
  z-index: 3000;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 13px rgba(32, 32, 32, 0.1); }

.search-btn {
  color: #807e7e;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px; }

.search-btn a {
  height: 1px;
  height: 1px;
  color: black; }

.lupa {
  margin-right: 20px; }

.search-txt {
  border: none;
  width: 900px;
  height: 40px;
  float: left;
  padding: 0;
  background: none;
  padding-left: 25px;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  outline: none; }

.nav-catalogo {
  position: relative;
  display: flex;
  flex-direction: column nowrap;
  justify-content: center;
  align-content: center;
  padding-bottom: 180px;
  padding-bottom: 134px;
  padding-top: 65px; }

.nav-catalogo a:hover {
  color: #807e7e; }

.nav-catalogo ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none; }

.nav-catalogo li {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer; }

.nav-catalogo a {
  text-decoration: none;
  color: #1C1B1B; }

.nav-catalogo a:hover {
  color: #BC002D;
  transition: .3s; }

/* ////////////////////////////////////// cards mini */
.container2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center; }

.container2 .card2 {
  width: 244px;
  height: 371px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  background-color: #fefefe;
  text-align: center;
  transition: all 0.25s; }

.container2 .card2:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  transition: all ease 0.3s; }

.container2 .card2 img {
  width: 180px;
  height: auto; }

.container2 .card2 h3 {
  font-weight: 600;
  font-size: 1.2rem; }

.container2 .card2 p {
  font-size: 1rem;
  margin-bottom: 8px; }

.card-btn2 {
  text-decoration: none;
  border-radius: 50px;
  background-color: #BC002D;
  height: 45px;
  font-size: 1rem;
  color: #fefefe;
  display: inline-block;
  padding: 10px 20px;
  line-height: 25px; }

.card-btn2:hover {
  color: #BC002D;
  background-color: #fefefe; }

/* ========================== FOOTER ========================== */
.pie-pagina {
  height: 50vh;
  width: auto;
  background-color: #1C1B1B;
  overflow: hidden; }

.waves {
  margin-top: 100px;
  overflow: hidden; }

.waves-img {
  position: relative;
  width: 2353px;
  height: 814px;
  left: -1px;
  top: 75px;
  right: 135px; }

.contenedor-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "logo redes mapa"; }

/* LOGO */
.logo-white {
  grid-area: logo;
  display: flex;
  align-items: center;
  margin-right: 250px;
  margin-bottom: 100px;
  justify-content: center; }

.logo-white .logo-img {
  width: 182px;
  height: 86px; }

/* REDES */
.contenedor-redes {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-right: 121px; }

.redes {
  grid-area: redes;
  color: #fefefe;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly; }

.redes ul {
  display: flex;
  flex-flow: row nowrap; }

.redes li {
  margin-left: 30px;
  margin-right: 30px;
  font-weight: bold;
  cursor: pointer;
  list-style: none; }

.redes a {
  text-decoration: none;
  color: #fefefe;
  font-size: 2.5rem; }

.redes a:hover {
  color: #BC002D; }

.redes-txt {
  font-weight: 300;
  font-size: 24px;
  margin: 60px 0px 50px 0px;
  color: #fefefe; }

/* MAPA */
.mapa {
  grid-area: mapa;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center; }

iframe {
  width: 413.38px;
  height: 231.82px;
  margin-bottom: 10px;
  border-radius: 9px; }

.mapa-txt {
  color: #fefefe;
  grid-area: mapa;
  margin-right: 145px;
  margin-top: 5px; }

/* derechos */
.autora {
  color: #fefefe;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 116px; }

.diseño {
  font-weight: 300;
  margin-right: 5px;
  font-size: 1rem; }

.iooo {
  font-weight: 500;
  color: #BC002D;
  font-size: 1rem; }

/* flecha pal cielo */
.arrow-up {
  position: absolute;
  right: 150px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 70px;
  height: 70px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #BC002D;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: 5161px;
  z-index: 4000; }

.arrow-img {
  height: 30px;
  height: 30px; }

@media (max-width: 1440px) {
  .cabecera {
    padding-top: 39px; } }

@media (max-width: 1440px) {
  .ropa-img {
    width: 633.79px;
    height: 844.75px;
    right: 151px; } }

@media (max-width: 1440px) {
  .circulo {
    position: relative;
    height: 900px;
    width: 900px;
    left: 216px; } }

@media (max-width: 1440px) {
  .texto {
    margin-right: 0;
    margin-top: 220px; } }

@media (max-width: 1440px) {
  .texto h1 {
    font-size: 22px; } }

.texto p {
  font-size: 24px;
  font-weight: 400; }

@media (max-width: 1440px) {
  .splash-main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(-10%, 1fr));
    grid-template-rows: 500px;
    grid-template-areas: "texto contenedorImg" "texto contenedorImg"; } }

@media (max-width: 1440px) {
  .container {
    width: 32%; } }

@media (max-width: 1440px) {
  .container .card p {
    font-size: 18px;
    margin-bottom: 10px; } }

@media (max-width: 1440px) {
  .container2 .card2 h3 {
    font-size: 18px;
    font-weight: 600;
    font-size: 23px; } }

@media (max-width: 1440px) {
  .card-btn {
    font-size: 18px;
    font-weight: 500; } }

@media (max-width: 1440px) {
  #mujer {
    padding-top: 34px;
    padding-bottom: 14px; } }

@media (max-width: 1440px) {
  #hombre {
    padding-top: 34px;
    padding-bottom: 6px; } }

@media (max-width: 1440px) {
  .circulo-bg {
    top: 3581px; } }

@media (max-width: 1440px) {
  .arrow-up {
    top: 4659px; } }

@media (max-width: 1440px) {
  .waves-img {
    width: 1576px;
    height: 593px;
    left: -1px;
    top: 75px;
    right: 135px; } }

@media (max-width: 1440px) {
  .logo-white {
    display: flex;
    align-items: center;
    margin-right: 63px;
    margin-bottom: 100px;
    justify-content: center; } }

@media (max-width: 1440px) {
  .mapa {
    align-items: flex-start; } }

@media (max-width: 1440px) {
  .mapa iframe {
    width: 365.38px; } }

@media (max-width: 1440px) {
  .autora {
    margin-top: 93px; } }

@media screen and (max-width: 768px) {
  .cabecera {
    padding-top: 0px;
    display: flex;
    background-color: #223150;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); } }

@media screen and (max-width: 768px) {
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 0 0 30px; } }

@media (max-width: 768px) {
  .logo-header-white {
    display: flex;
    height: 50px;
    width: auto;
    margin-left: 7px; } }

@media (max-width: 768px) {
  .logo-header {
    display: none; } }

@media screen and (max-width: 768px) {
  .nav-bar {
    position: relative;
    padding: 0; }
    .nav-bar ul {
      display: flex;
      flex-direction: column;
      text-align: center; }
      .nav-bar ul li {
        margin: 35px 0 35px 0; }
        .nav-bar ul li a {
          color: white;
          font-weight: 400;
          font-size: 20px; } }

@media screen and (max-width: 768px) {
  .burguer-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -35px;
    right: -127px;
    cursor: pointer; }
    .burguer-menu div {
      width: 25px;
      height: 3px;
      background-color: #fefefe;
      margin-bottom: 5px; } }

#menu {
  font-size: 1.8rem; }

@media screen and (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    position: fixed;
    background: #223150;
    height: 95vh;
    width: 100%;
    top: 90px;
    clip-path: circle(100px at 90% -40%);
    -webkit-clip-path: circle(100px at 90% -40%);
    transition: all .2s ease-out;
    z-index: 5000; }
    .nav-links a {
      color: #fefefe; } }

@media screen and (max-width: 768px) {
  .nav-links.open {
    clip-path: circle(396px at 81% 8%);
    -webkit-clip-path: circle(396px at 81% 8%); } }

.cabecera.blue {
  background-color: #223150;
  transition: .1s ease-out; }

@media screen and (max-width: 768px) {
  .nav-item:hover {
    display: none; } }

@media screen and (max-width: 768px) {
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    transition: .3s ease-in-out; }
  .toggle .line2 {
    opacity: 0; }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    transition: .3s ease-in-out; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  hr {
    display: none; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .splash-main {
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "texto"  "contenedorImg"; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .texto {
    grid-area: texto;
    margin-top: 48px;
    margin-left: 15px;
    margin-right: 52px; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .texto p {
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    padding-top: 1px; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .contenedorImg {
    grid-area: contenedorImg;
    padding-top: 0;
    padding-bottom: 54px; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .circulo {
    position: relative;
    width: 400px;
    height: 400px;
    left: 163px;
    top: 47px;
    overflow: hidden; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .ropa-img {
    position: relative;
    width: auto;
    height: 385px;
    left: -13px;
    top: 85px; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  h2 {
    font-size: 26px; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  #hombre {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 60px; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  #mujer {
    margin-top: 60px; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .section-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .section-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 60px; } }

@media screen and (max-width: 768px) {
  /* ////////////////////////////////////// cards */ }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .container {
    width: 303px;
    height: 296px;
    margin-bottom: 210px; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .container .card {
    width: 330px;
    height: 460px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    background-color: #fefefe;
    text-align: center; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .container2 {
    display: none; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .search-box {
    width: 340px;
    margin-top: 44px; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .contenedor-cards {
    display: none; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .catalogo-btn {
    text-decoration: none;
    border-radius: 50px;
    background-color: #BC002D;
    font-size: 15px;
    height: 50px;
    font-size: 1.4rem;
    color: #fefefe;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    line-height: 25px;
    margin-top: 75px; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .nav-catalogo ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .nav-catalogo ul li {
      padding: 20px; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .circulo-bg {
    display: none; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .arrow-up {
    display: none; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .pie-pagina {
    height: 65vh; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .waves-img {
    margin-top: -315px;
    left: -501px;
    width: 1094px;
    height: 593px;
    top: 144px;
    right: 135px; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .contenedor-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .logo-white {
    margin-right: 0px;
    margin-bottom: 25px; }
    .logo-white .logo-img {
      width: 173px;
      height: auto; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .contenedor-redes {
    position: relative;
    bottom: -95px;
    margin-right: 0px;
    margin: 40px 0 40px 0; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .redes-txt {
    display: none; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .redes {
    display: flex;
    justify-content: center; }
    .redes li {
      margin: 0 20px 0 20px; }
      .redes li a {
        font-size: 2rem; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .mapa {
    position: relative;
    bottom: 94px;
    text-align: center;
    margin: 0 20px 0 20px; }
    .mapa .mapa-txt {
      margin-right: 0px;
      font-size: 13px; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  iframe {
    display: none; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .autora .diseño {
    font-size: 14px; }
  .autora .iooo {
    font-size: 14px; } }
