

@media (max-width: 1440px) {
    .cabecera {
      padding-top: 39px;
    }
  }
  
  @media (max-width: 1440px) {
    .ropa-img {
      width: 633.79px;
      height: 844.75px;
      right: 151px;
    }
  }
  
  @media (max-width: 1440px) {
    .circulo {
      position: relative;
      height: 900px;
      width: 900px;
      left: 216px;
    }
  }
  
  @media (max-width: 1440px) {
    .texto {
      margin-right: 0;
      margin-top: 220px;
    }
  }
  
  @media (max-width: 1440px) {
    .texto h1 {
      font-size: 22px;
    }
  }
  
  .texto p {
    font-size: 24px;
    font-weight: 400;
  }
  
  @media (max-width: 1440px) {
    .splash-main {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(-10%, 1fr));
      grid-template-rows: 500px;
      grid-template-areas:
        "texto contenedorImg"
        "texto contenedorImg";
    }
  }
  
  @media (max-width: 1440px) {
    .container {
      width: 32%;
    }
  }
  
  @media (max-width: 1440px) {
    .container .card p {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 1440px) {
    .card-btn {
        font-size: 22px;
        font-weight: 400;
    }
  }
  
  @media (max-width: 1440px) {
    #mujer {
      padding-top: 34px;
      padding-bottom: 14px;
      
    }
  }
  
  @media (max-width: 1440px) {
    #hombre {
      padding-top: 34px;
      padding-bottom: 6px;
    }
  }
  
  @media (max-width: 1440px) {
    .circulo-bg {
      top: 3581px;
    }
  }
  
  @media (max-width: 1440px) {
    .arrow-up {
      top: 4659px;
    }
  }
  
  @media (max-width: 1440px) {
    .waves-img {
      width: 1576px;
      height: 593px;
      left: -1px;
      top: 75px;
      right: 135px;
    }
  }
  
  @media (max-width: 1440px) {
    .logo-white {
      display: flex;
      align-items: center;
      margin-right: 63px;
      margin-bottom: 100px;
      justify-content: center;
    }
  }
  
  @media (max-width: 1440px) {
    .mapa {
      align-items: flex-start;
    }
  }
  
  @media (max-width: 1440px) {
    .mapa iframe {
      width: 365.38px;
    }
  }
  
  @media (max-width: 1440px) {
    .autora {
      margin-top: 93px;
    }
  }
  
  @media screen and (min-width: 375px) {
    .cabecera {
      padding-top: 0px;
      display: flex;
      background-color: #223150;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    }
  }
  
  @media screen and (min-width: 375px) {
    .logo {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 20px 0 0 30px;
    }
  }
  
  @media (min-width: 375px) {
    .logo-header-white {
      display: flex;
      height: 50px;
      width: auto;
      margin-left: 7px;
    }
  }
  
  @media (min-width: 375px) {
    .logo-header {
      display: none;
    }
  }
  
  @media (min-width: 375px) {
    #boton-carrito {
      margin-left: 255px;
      border: none;
      color: #223150;
      font-size: 66px;
      position: sticky;
      right: 29px;
      top: 539px;
      background-color: transparent;
      cursor: pointer;
      z-index: 600;
      background-color: #fad840;
      border-radius: 50px;
      height: 92px;
      width: 92px;
    }
  }
  
  @media (min-width: 375px) {
    #contadorCarrito {
      background-color: #bc002d;
      padding: 7px 11px;
      border-radius: 50px;
      height: 100px;
      width: 100px;
      font-size: 0.8rem;
      font-family: "Ubuntu", sans-serif;
      color: #fefefe;
      position: relative;
      right: 35px;
    }
  }
  
  .iconoBag {
    font-weight: 900;
    position: relative;
    top: 16px;
  }
  
  @media (min-width: 375px) {
    .iconoBag {
      font-size: 54px;
      top: -6px;
      right: -22px;
    }
  }
  
  @media (min-width: 375px) {
    .modal-carrito {
      position: relative;
      top: 25px;
      background-color: white;
      min-width: 343px;
      padding: 52px;
      border-radius: 10px;
      height: 426px;
    }
  }
  @media (min-width: 375px) {
    .modal-contenedor {
      width: 100vw;
      height: 100%;
    }
  }
  
  @media screen and (min-width: 375px) {
    .nav-bar {
      position: relative;
      padding: 0;
    }
    .nav-bar ul {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .nav-bar ul li {
      margin: 35px 0 35px 0;
    }
    .nav-bar ul li a {
      color: white;
      font-weight: 400;
      font-size: 22px;
    }
  }
  
  @media screen and (min-width: 375px) {
    .burguer-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: relative;
      top: -35px;
      right: -139px;
      cursor: pointer;
    }
    .burguer-menu div {
      width: 25px;
      height: 3px;
      background-color: #fefefe;
      margin-bottom: 5px;
    }
  }
  
  #menu {
    font-size: 1.8rem;
  }
  
  @media screen and (min-width: 375px) {
    .nav-links {
      flex-direction: column;
      position: fixed;
      background: linear-gradient(to bottom, #223150, #222);
      height: 95vh;
      width: 100%;
      top: 90px;
      clip-path: circle(100px at 90% -40%);
      -webkit-clip-path: circle(100px at 90% -40%);
      transition: all 0.2s ease-out;
      z-index: 5000;
    }
    .nav-links a {
      color: #fefefe;
    }
  }
  
  @media screen and (min-width: 375px) {
    .nav-links.open {
      clip-path: circle(396px at 81% 8%);
      -webkit-clip-path: circle(396px at 81% 8%);
    }
  }
  
  @media screen and (min-width: 375px) {
    .nav-item:hover {
      display: none;
    }
  }
  
  @media screen and (min-width: 375px) {
    .open .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
      transition: 0.1s ease-in-out;
    }
    .open .line2 {
      opacity: 0;
    }
    .open .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
      transition: 0.1s ease-in-out;
    }
  }
  
  @media screen and (min-width: 375px)  {
    hr {
      display: none;
    }
  }
  
  @media screen and (min-width: 375px) {
    .splash-main {
      overflow: hidden;
      overflow-y: hidden;
      overflow-x: hidden;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas:
        "texto"
        "contenedorImg";
    }
  }
  
  @media screen and (min-width: 375px)  {
    .texto {
      grid-area: texto;
      margin-top: 48px;
      margin-left: 15px;
      margin-right: 52px;
    }
  }
  
  @media screen and (min-width: 375px)  {
    .texto p {
      font-size: 15px;
      font-weight: 400;
      line-height: 15px;
      padding-top: 1px;
    }
  }
  
  @media screen and (min-width: 375px) {
    .contenedorImg {
      grid-area: contenedorImg;
      padding-top: 0;
      padding-bottom: 54px;
    }
  }
  
  @media screen and (min-width: 375px){
    .circulo {
      position: relative;
      width: 400px;
      height: 400px;
      left: 163px;
      top: 47px;
      overflow: hidden;
    }
  }
  
  @media screen and (min-width: 375px) {
    .ropa-img {
      position: relative;
      width: auto;
      height: 253px;
      left: -13px;
      top: -8px;
    }
  }
  
  @media screen and (min-width: 375px) {
    h2 {
      font-size: 26px;
    }
  }
  
  @media screen and (min-width: 375px) {
    #hombre {
      padding-top: 0;
    }
  }
  
  @media screen and (min-width: 375px) {
    #mujer {
        margin-top: 70px;
        padding-bottom: 1066px;
    }
  }
  
  @media screen and (min-width: 375px){
    .contenedor-catalogo {
      width: 116vw;
      display: flex;
      align-items: center;
      flex-flow: column nowrap;
    }
  }
@media screen and (min-width: 375px){
  #container-buscador{
    height: auto;
  }
}
@media screen and (min-width: 375px){
    #container-buscador{
      .card{
        margin: -37px;
        margin-bottom: 56px;
      }
    }
  }


  @media screen and (min-width: 375px) {
    .section-1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      margin-bottom: 61px;
    }
  }
  
  @media screen and (min-width: 375px) {
    .section-2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 60px;
    }
  }
  
  @media screen and (min-width: 375px) {
    /* ////////////////////////////////////// cards */
  }
  
  @media screen and (min-width: 375px) {
    .container {
      width: 303px;
      height: auto;
      width: 303px;
      height: 1578px;
    }
    .container .card {
      width: 330px;
      height: 460px;
      border-radius: 8px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      margin: 20px;
      background-color: #fefefe;
      text-align: center;
      margin-bottom: 94px;
    }
  }
  
  
  @media screen and (min-width: 375px)  {
    .search-box {
      width: 340px;
    }
  }
  
  @media screen and (min-width: 375px) {
    .contenedor-cards {
      display: none;
    }
  }
  
  @media screen and (min-width: 375px){
    .catalogo-btn {
      text-decoration: none;
      border-radius: 50px;
      background-color: #bc002d;
      font-size: 15px;
      height: 50px;
      font-size: 1.4rem;
      color: #fefefe;
      display: inline-block;
      padding: 10px 20px;
      font-size: 1.2rem;
      line-height: 25px;
      margin-top: 75px;
      display: none;
    }
  }
  
  @media screen and (min-width: 375px) {
    .search-txt {
      text-align: left;
    }
  }
  
  @media screen and (min-width: 375px) {
    .nav-catalogo ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    .nav-catalogo ul li {
      padding: 20px;
    }
  }
  
  @media screen and (min-width: 375px)  {
    .circulo-bg {
      display: none;
    }
  }
  
  @media screen and (min-width: 375px) {
    .arrow-up {
      display: none;
    }
  }
  
  @media screen and (min-width: 375px)  {
    .pie-pagina {
      height: 65vh;
    }
  }
  
  @media screen and (min-width: 375px)  {
    .waves-img {
      margin-top: -315px;
      left: -501px;
      width: 1094px;
      height: 593px;
      top: 144px;
      right: 135px;
    }
  }
  
  @media screen and (min-width: 375px)  {
    .contenedor-footer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  @media screen and (min-width: 375px)  {
    .logo-white {
      margin-right: 0px;
      margin-bottom: 25px;
    }
    .logo-white .logo-img {
      width: 173px;
      height: auto;
    }
  }
  
  @media screen and (min-width: 375px)  {
    .contenedor-redes {
      position: relative;
      bottom: -95px;
      margin-right: 0px;
      margin: 40px 0 40px 0;
    }
  }
  
  @media screen and (min-width: 375px)  {
    .redes-txt {
      display: none;
    }
  }
  
  @media screen and (min-width: 375px) {
    .redes {
      display: flex;
      justify-content: center;
    }
    .redes li {
      margin: 0 20px 0 20px;
    }
    .redes li a {
      font-size: 2rem;
    }
  }
  
  @media screen and (min-width: 375px) {
    .mapa {
      position: relative;
      bottom: 94px;
      text-align: center;
      margin: 0 20px 0 20px;
      .mapa-txt {
        margin-right: 0px;
        font-size: 13px;
      }
    }
  }
  @media screen and (min-width: 375px) {
    iframe {
      display: none;
    }
  }
  
  @media screen and (min-width: 375px) {
    .autora {
      padding-top: 21px;
    }
    .autora .diseño {
      font-size: 14px;
    }
    .autora .iooo {
      font-size: 14px;
    }
  }
  
  @media screen and (min-width: 375px) {
    .popup-card {
      flex-direction: column;
      width: 80%;
      height: 20%;
    }
  }
  
  @media screen and (min-width: 375px) {
    .product-img {
      width: auto;
      height: 294.61px;
      position: relative;
      left: 7px;
      border-radius: 8px;
    }
    .product-img img {
      height: 511px;
      width: auto;
      position: relative;
      left: 0px;
      top: 30px;
    }
  }
  
  @media screen and (min-width: 375px) {
    .info {
      width: 290.57px;
      height: 381.57px;
      position: relative;
      top: -16px;
    }
  }
  
  @media screen and (min-width: 375px) {
    .info-title {
      margin-top: 0;
    }
  }
  
  @media screen and (min-width: 375px) {
    .info-txt {
      font-size: 14px;
      font-weight: 300;
    }
  }
  
  @media screen and (min-width: 375px) {
    .price {
      font-size: 25px;
      font-weight: 400;
      margin: -4px 0 30px 0;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 375px) {
    .product-img {
      width: 271px;
      border-radius: 8px;
      position: relative;
      left: 9px;
    }
    .product-img img {
      height: 343px;
      top: -2px;
    }
  }
  
  @media screen and (min-width: 375px) {
    .add-cart-btn {
      font-weight: 400;
      font-size: 13px;
      position: relative;
      top: -28px;
    }
  }
  
  @media screen and (min-width: 375px) {
    .close-btn {
      color: #fefefe;
      z-index: 650;
      position: absolute;
      right: 17px;
      top: -8px;
      font-size: 20px;
      margin: 20px;
      cursor: pointer;
    }
  }
  
  @media screen and (min-width: 375px) {
    .section-3 {
        height: auto;
    }
  }
  