// MEDIA QUERIES

///////////////////////// Mac Pro /////////////////////////// 

/////////////////////////// header
.cabecera{
    @media (max-width: 1440px){
        padding-top: 39px;
    }
}
.ropa-img{
    @media (max-width: 1440px){
        width: 633.79px;
        height: 844.75px;
        right: 151px;
    }
}
.circulo{
    @media (max-width: 1440px){
        position: relative;
        height: 900px;
        width: 900px;
        left: 216px;    
    }
}
.texto{
    @media (max-width: 1440px){
        margin-right: 0;
        margin-top: 220px;
    }
    h1{
        @media (max-width: 1440px){
            font-size: 22px;
           
            }
        
    }
    p{
        font-size: 24px;
        font-weight: 400;
    }
}

/////////////// main
.splash-main{
    @media (max-width: 1440px){
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(45%-55%, 1fr));
        grid-template-rows: 500px;
        grid-template-areas:"texto contenedorImg"
                            "texto contenedorImg";
    }

}
/////////////////// cards
.container{
    @media (max-width: 1440px){
        width: 32%;
    }
}
.container .card p {
    @media (max-width: 1440px){
        font-size: 18px;
        margin-bottom: 10px;
    }

}


.container2 .card2 h3 {
    @media (max-width: 1440px){
        font-size: 18px;
        font-weight: 600;
        font-size: 23px;
    }
}    
.card-btn{
    @media (max-width: 1440px){
        font-size: 18px;
        font-weight: 500;
    }
}

//////////////////////// sections
#mujer{
    @media (max-width: 1440px){
        padding-top: 34px;
        padding-bottom: 14px;
    }
}
#hombre{
    @media (max-width: 1440px){
        padding-top: 34px;
        padding-bottom: 6px;
    }
}
.circulo-bg{
    @media (max-width: 1440px){
        top: 3581px;
    }
}

///////////////////////////// footer
.arrow-up{
    @media (max-width: 1440px){
        top: 4659px;
    }

}
.waves-img{
    @media (max-width: 1440px){
        width: 1576px;
        height: 593px;
        left: -1px;
        top: 75px;
        right: 135px;
    }

}
.logo-white {
    @media (max-width: 1440px){
        display: flex;
        align-items: center;
        margin-right: 63px;
        margin-bottom: 100px;
        justify-content: center;
    }
}
.mapa{
    @media (max-width: 1440px){
        align-items: flex-start;
    }
    iframe{
        @media (max-width: 1440px){
            width: 365.38px;
        }
    }
}
.autora{
    @media (max-width: 1440px){
        margin-top: 93px;
    }
}
















///////////////////////// Smartphones /////////////////////////// 
.body{
    
    @media (max-width: 375px){
    background-color: white;
    }
}
// .contenedor-full{
//     @media screen and (max-width: 375px){
//         width: 100vh;
//         height: 100vh;
//         background-color: $color-blanco;
        // background-image: linear-gradient(to bottom right, #fefefe , #eee5fa);
        // background-repeat: no-repeat;
        // background-attachment: fixed;
        // background-position: center;

// ------------------------ header
.status{
    @media  (max-width: 375px){
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
 
    }
}

.status-bar{
    @media  (max-width: 375px){
        height: 39px;
        width: 375px;
    }
}
.cabecera{
    @media screen and (max-width: 375px){
        padding-top: 0px;
    }
}

.logo{
    @media screen and (max-width: 375px){
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}
.logo-header{
    @media (max-width: 375px){
        height: 50px;
        width: auto;
    }
    
}
.nav-bar{
    @media screen and (max-width: 375px){
        display: none;
    }
}
hr{
    @media screen and (max-width: 375px){
        display: none;
    }
}
// main--------------------------------------------------

.splash-main{
        @media (max-width: 375px){
            overflow: hidden;
            overflow-y: hidden;
            overflow-x: hidden;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto;
            grid-template-areas: "texto" 
                                "contenedorImg";
            }
    }

.texto{
    @media (max-width: 375px){
        grid-area: texto;
        margin-top: 48px;
        margin-left: 15px;
        margin-right: 52px;
    }
    p{
        font-size: 14px;
        font-weight: 400;
        line-height: 15px;
        padding-top: 1px;
    }
}
.contenedorImg{
    @media (max-width: 375px){
        grid-area: contenedorImg;
        // height: 100vh;
        // width: 100vh;
        padding-top: 0;
        padding-bottom: 54px;
    }
}

.circulo{
    @media (max-width: 375px){
        // display: none;
        position: relative;
        width: 400px;
        height: 400px;
        left: 144px;
        top: 47px;
        overflow: hidden;
    }
}
.ropa-img{
        @media (max-width: 375px){
            position: relative;
            width: auto;
            height: 340px;
            left: -33px;
            top: 104px;
        }
}




//     .line{
//         width: 30px;
//         height: 30px;
//         background: $color-rojo;
//         margin: 5px;
//     }
//     .nav-bar{
//         position: relative;
//     }
//     .burguer-menu{
//         position: absolute;
//         cursor: pointer;
//         right: 5%;
//         top: 50%;
//         transform: translate (-5%, -50%)
//     }

//     .nav-links{
//         position: fixed;
//         background: $color-azul;
//         height: 100vh;
//         width: 100%;
//         clip-path: circle(100px);
//     }
